@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "IBM Plex Mono";
  background: #191a21;
  color: rgb(255, 246, 230);
  box-sizing: border-box;
  color-scheme: dark;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.bg-striped {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAACZJREFUGFdjZEAD////b2BEFgMLMDIiBGECIEVglcgCYEF0AZAgAOgcE4P59g1CAAAAAElFTkSuQmCC)
    repeat;
}

.transition-custom {
  transition: all 300ms ease-out 0s;
}

a {
  color: rgb(71, 207, 237);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

.math {
  --highlight: rgba(153, 204, 255, 0.1) !important;
  --contains-highlight: rgba(0, 0, 0, 0) !important;
  --highlight-inactive: rgba(153, 204, 255, 0.1) !important;
  outline: none;
  display: inline-block;
  width: 100%;
}

.math:focus {
  outline: none;
}

math-field:focus-within {
  outline: none;
}

.ML__keyboard {
  --hue: 206 !important;
  --keyboard-background: rgb(0, 0, 0) !important;
  --keyboard-text: #f0f0f0 !important;
  --keyboard-text-active: hsl(var(--hue, 212), 100%, 60%) !important;
  --keyboard-background-border: #333 !important;
  --keycap-background: rgb(40, 40, 50) !important;
  --keycap-background-active: rgb(60, 60, 70) !important;
  --keycap-background-border: rgb(50, 50, 60) !important;
  --keycap-background-border-bottom: rgb(50, 50, 70) !important;
  --keycap-text: #d0d0d0 !important;
  --keycap-text-active: #000 !important;
  --keycap-secondary-text: #fff !important;
  --keycap-modifier-background: rgb(60, 60, 70) !important;
  --keycap-modifier-border: rgb(70, 70, 80) !important;
  --keycap-modifier-border-bottom: rgb(70, 70, 90) !important;
  --keyboard-alternate-background: hsl(var(--hue, 212), 19%, 38%) !important;

  transition: all 0.05s ease-in-out !important;
  border: none;
}

.ML__keyboard--plate {
  border: none !important;
}

.ML__keyboard .ML__mathlive {
  cursor: pointer;
}

.ML__keyboard .ML__mathlive .ML__base {
  cursor: pointer;
}

.ML__keyboard .keycap {
  transition: all 0.05s ease-in-out;
}
