@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "IBM Plex Mono";
  background: rgb(39, 35, 37);
  color: rgb(255, 246, 230);
  box-sizing: border-box;
  color-scheme: dark;
  width: 100%;
  height: 100%;
}

.bg-striped {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAACZJREFUGFdjZEAD////b2BEFgMLMDIiBGECIEVglcgCYEF0AZAgAOgcE4P59g1CAAAAAElFTkSuQmCC)
    repeat;
}

.transition-custom {
  transition: all 300ms ease-out 0s;
}

a {
  color: rgb(71, 207, 237);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

.math {
  --highlight: rgba(153, 204, 255, 0.1) !important;
  --contains-highlight: rgba(0, 0, 0, 0) !important;
  --highlight-inactive: rgba(153, 204, 255, 0.1) !important;
  outline: none;
  display: inline-block;
}

.math:focus {
  outline: none;
}

math-field:focus-within {
  outline: none;
}
